<section>
  <div class="page-header">
    <h1>Edit Score</h1>
  </div>
  <div class="col-md-12">
    <form name="scoreForm" class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input name="title" type="text" data-ng-model="score.title" id="title" class="form-control" placeholder="What is the name of the record (e.g. Golf, 9-holes)?">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="title">Game</label>
          <div class="controls">
            <input name="game" type="text" data-ng-model="score.game" id="game" class="form-control" placeholder="What game was played?">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="title">Player</label>
          <div class="controls">
            <input name="player" type="text" data-ng-model="score.player" id="player" class="form-control" placeholder="Who's score is this?">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="title">Score</label>
          <div class="controls">
            <input name="score" type="text" data-ng-model="score.score" id="score" class="form-control" placeholder="What was the score?">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Notes</label>
          <div class="controls">
            <textarea name="notes" data-ng-model="score.notes" id="notes" class="form-control" cols="30" rows="10" placeholder="Score entry notes"></textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-primary">
          <input type="submit" value="Delete" class="btn btn-secondary" ng-click="remove()">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
