<section>
  <div class="page-header">
    <h1>Scores</h1>
  </div>
  <div class="list-group">
    
    <ds-list-scores-filter scores="scores" search="searchCriteria"></ds-list-scores-filter>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Record
          </th>
          <th>
            Player
          </th>
          <th>
            Game
          </th>
          <th>
            Score
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="score in scores | filter: { player:searchCriteria.name, game: searchCriteria.game }" data-ui-sref="scores.edit({scoreId: score._id})">
          <td data-ng-bind="score.title"></td>
          <td data-ng-bind="score.player"></td>
          <td data-ng-bind="score.game"></td>
          <td data-ng-bind="score.score"></td>
          <td data-ng-bind="score.created | date:'mediumDate'"></td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="scores.$resolved && !scores.length">
    No scores yet, why don't you <a data-ui-sref="scores.create">create one</a>?
  </div>
  <button type="button" class="btn btn-primary" data-ui-sref="scores.create()">Add New Score</button>
</section>
